@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Caption);
@import url(https://fonts.googleapis.com/css2?family=PT+Sans);

body{
	width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	height: 100%;
	font-family: PT Sans Caption;
}